.AdminSidebar{
    background-color: var(--green);
    height: 49vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2.5vw 1vw;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}
.AdminSidebar img{
    width: 15vw;
    padding: 3vw 1vw;
}
.AdminSidebar .SidebarText{
    margin-top: 0.8vw;
    margin-left: 2vw;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    font-size: 1.5vw;
    transition: 0.7s;
}
.AdminSidebar .SidebarText:hover{
    transform: translateX(1vw);
}

.AdminTop{
    width: 68%;
    padding: 1.5vw 1vw;
    background-color: var(--green);
    position: fixed;
    top: 0;
    right: 15%;
    color: var(--white);
    font-size: 1.5vw;
}