.TopNews{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    padding: 1vw 0;
    margin: 1vw 0;
=======
>>>>>>> 4b711196beb20e9f027ca6e1036233d31b359d49
}
.TopNewsBox{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.TopNewsBox ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.TopNewsBox ul li:first-child{
    position: relative;
    width: 84%;
    border-radius: 1vw;
}
.TopNewsBox ul li:first-child img{
    width: 100%;
    border-radius: 1vw;
    height: 60vh;
}
.TopNewsBox ul li:first-child .TopNewsItemTexts{
    padding: 2vw;
}
.TopNewsBox ul li:first-child .TopNewsItemTexts h3{
    font-size: 2.5vw;
    margin: 0.4vw;
    width: 65%;
}
.TopNewsBox ul li:first-child .TopNewsItemTexts p{
    margin: 0.4vw;
    font-size: 1.2vw;
}
.TopNewsBox ul li{
    width: 27%;
    position: relative;
    cursor: pointer;
    margin: .6vw;
    border-radius: 1vw;
}
.TopNewsBox ul li:hover{
    box-shadow: 0 .8vw 2vw rgba(0, 0, 0, 0.175);
}
.TopNewsBox ul li img{
    width: 100%;
    border-radius: 1vw;
}
.TopNewsItemTexts{
    position: absolute;
    color: white;
    padding: 1vw;
    bottom: 0;
}
.TopNewsItemTexts h3{
    font-size: 1.3vw;
    margin: 0.4vw;
}
.TopNewsItemTexts p{
    font-size: 1.05vw;
    margin: 0.4vw;
}
.TopNewsTable{
    width: 25%;
    background-color: var(--card);
    padding: 1.4vw .8vw;
    border-radius: 1vw;
    margin-right: 5%;
}
.TopNewsTable h3{
    font-size: 2vw;
    margin-bottom: 1vw;
<<<<<<< HEAD
    color: var(--black);
=======
>>>>>>> 4b711196beb20e9f027ca6e1036233d31b359d49
}
.TopNewsTable select{
    width: 100%;
    padding: .8vw;
    border-radius: .6vw;
    font-size: 1.3vw;
    -webkit-appearance: none;
<<<<<<< HEAD
    color: var(--black);
=======
>>>>>>> 4b711196beb20e9f027ca6e1036233d31b359d49
    background-color: var(--white);
}
.TopNewsTable ul{
    width: 100%;
}
.TopNewsTable ul li:first-child .TopNewsSelectUp h5:first-child{
    margin-right: 2vw;
}
.TopNewsTable ul li:nth-child(even){
    background-color: var(--white);
}
.TopNewsTable ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8vw;
    margin: .5vw 0;
    border-radius: .6vw;
}
.TopNewsSelectUp{
    display: flex;
    align-items: center;
}
.TopNewsSelectUp img{
    width: 20%;
}
.TopNewsSelectUp h5{
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0 .5vw;
<<<<<<< HEAD
    color: var(--black);
=======
>>>>>>> 4b711196beb20e9f027ca6e1036233d31b359d49
}
.TopNewsSelectDown{
    display: flex;
    align-items: center;
}
.TopNewsSelectDown h5{
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0 .5vw;
<<<<<<< HEAD
    color: var(--black);
=======
>>>>>>> 4b711196beb20e9f027ca6e1036233d31b359d49
}