.Admin{
    height: 100%;
}
.Admin .main-btn-back{
    position: fixed;
    right: 0;
    top: 0;
    background-color: lightgreen;
    width: max-content;
    width: 15%;
    height: 14.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Admin .main-button{
    padding: 1vw 1.4vw;
    border: 0.2vw solid white;
    border-radius: 20%;
    color: white;
    font-size: 1.3vw;
}
.Admin .main-button:hover{
    color: lightgreen;
    background-color: white;
}